body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: 768px;
  margin: 0;
}

html {
  height: 100%;
}

.content,
.bottom,
hr {
  flex-shrink: 0;
}

hr {
  height: 2px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin: 0;
}

a {
  color: #2fa3e7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #157ab5;
  text-decoration: none;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

h1,
h2 {
  font-family: 'PT Sans Caption', Arial, sans-serif;
  font-weight: bolder;
  margin: 0;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-weight: normal;
}

h1 {
  font-size: 21px;
  line-height: 30px;
}

h2 {
  font-size: 18px;
}

@media screen and (min-width: 801px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 768px;
  }

  .content {
    background-color: #f7f9fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
  }

  .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header,
  footer,
  main {
    width: 690px;
    margin: 0 auto;
  }

  main {
    padding-top: 10px;
  }

  header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .logo img {
    max-width: 100%;
    max-height: 75px;
    position: relative;
    top: 15px;
  }

  nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px;
  }

  nav a {
    padding: 0 15px;
  }

  .octo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .octo img {
    height: 230px;
    max-height: 230px;
  }

  .icon img {
    height: 75px;
  }

  .footer-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 0;
  }

  .footer-col > * {
    padding: 2px;
  }

  .bottom-mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .content {
    margin: 0 auto;
    background-color: #f7f9fa;
  }

  .bottom {
    margin: 0 auto;
    width: 95%;
  }

  header,
  footer,
  main {
    width: 95%;
    margin: 0 auto;
  }

  main {
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .logo {
    display: block;
    width: 60%;
    margin: 0 auto;
  }

  .logo img {
    width: 100%;
  }

  .icon img {
    display: none;
  }

  .octo {
    width: 60%;
    margin: 0 auto;
  }

  .octo img {
    width: 100%;
  }

  header nav {
    display: none;
  }

  .bottom {
    display: none;
  }

  .bottom-mobile footer {
    display: table;
    width: 95%;
    margin-bottom: 35px;
  }

  .bottom-mobile footer span {
    text-align: right;
    display: table-cell;
  }

  .bottom-mobile footer txt {
    display: table-cell;
  }

  .bottom-mobile footer h2 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .bottom-mobile footer p {
    display: table-row;
    width: 100%;
    line-height: 25px;
  }
}

.instruction-row,
li {
  margin-bottom: 0.5rem;
}

.fa-li {
  color: #84c738;
}

.fa-ul {
  padding-inline-start: 20px;
}

span.key {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(86, 94, 113, 0.2);
}

.gallery {
  padding-top: 20px;
  display: none;
}

.gallery a {
  display: block;
  margin-bottom: 30px;
  margin-top: 15px;
}
