body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: 768px;
  margin: 0;
}

html {
  height: 100%;
}

.content,
hr {
  flex-shrink: 0;
}

hr {
  height: 2px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin: 0;
}

P {
  margin: 10px 0px;
}

a {
  color: #2fa3e7;
  text-decoration: none;
  margin-bottom: 0px;
}

a:focus,
a:hover {
  color: #157ab5;
  text-decoration: none;
}

header a{
  color: inherit;
  text-decoration: none;
}

header a:hover{
  color:inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'PT Sans Caption', Arial, sans-serif;
  font-weight: bolder;
  margin: 0;
}

h1 {
  font-size: 26px;
  line-height: 30px;
}

h2 {
  font-size: 22px;
  line-height: 22px;
  margin: 10px 0px;
}

h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 5px 0px;
}

ul {
  margin: 5px 0px;
}

li {
  margin-bottom: 0.5rem;
}

img {
  margin: 10px 0px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column-centered-header {
  float: none; 
  text-align: center;
}

.column-text-left{
  float: left; 
  margin: 0px;
  width: 50%; 
  text-align: justify;
}

.column-image-right{
  float: right;
  margin: 10px 10px 0 0; 
  width: 45%
}

.column-text-wide{
  text-align: justify;
}

.width-inherited {
  width: inherit;
}

.radio_form{
  margin: 10px 10px;
}

@media screen and (min-width: 801px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 768px;
  }

  .content {
    background-color: #f7f9fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
  }

  header,
  footer,
  main {
    width: 690px;
    margin: 0 auto;
  }

  main {
    padding-top: 10px;
  }

  header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .logo img {
    max-width: 100%;
    max-height: 75px;
    position: relative;
    top: 15px;
  }

  nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px;
  }

  nav a {
    padding: 0 15px;
  }

  .icon img {
    height: 75px;
  }

  .footer-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 0;
  }

  .footer-col > * {
    padding: 2px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    margin: 0 auto;
    background-color: #f7f9fa;
  }

  header,
  footer,
  main {
    width: 95%;
    margin: 0 auto;
  }

  main {
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .logo {
    display: block;
    width: 60%;
    margin: 0 auto;
  }

  .logo img {
    width: 100%;
  }

  .icon img {
    display: none;
  }

  header nav {
    display: none;
  }
}
